/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');




body {
  font-family: 'Titillium Web', bold;
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Titillim Web', bold;
  color: red;
  font-weight: bold;
}

p {
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
